*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 430px;

    background-color: #F9EEF2;
}

::-webkit-scrollbar {
    width: 0;
}

.page {
    max-width: 398px;
    overflow-y: auto;
    margin: 0 auto;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/* Header
==================*/
.header {
    margin: 0 auto;
    padding: 16px 0;
    width: 100%;
    max-width: 430px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;

    background-color: #fff;
}

.profil {
    display: flex;
    align-items: center;
    width: 255px;

    font-size: 16px;
    font-weight: bold;
    color: #07080B;
}

.profil h1 {
    margin-left: 8px;

    font-size: 24px;
    font-weight: bold;
}

.profil-icon {
    width: 55px;
    height: 55px;
}

.filtr {
    width: 20px;
    height: 18px;

    position: absolute;
    top: 40px;
    left: 392px;
}

/* Nvigation
==================*/
.nav {
    width: 100%;
    max-width: 304px;
    padding: 12px 27px;

    position: fixed;
    z-index: 12;
    bottom: 14px;
    left: 63px;
    border-radius: 25px;
    box-shadow: rgba( 85, 85, 85, .2 ) 4px 4px 46px;

    background-color: #fff;
}

.nav button {
    padding: 0;
    border: none;
    background-color: inherit;
}

.nav-btn {
    display: flex;
    align-items: center;
}

.nav-btn button {
    margin-right: 30px;
}

.nav-btn button:last-child {
    margin-right: 0;
}

.nav-btn-img {
    width: 40px;
    height: 40px;
}

.profil-btn-img {
    width: 40px;
    height: 40px;
}

.osn-nav-btn {
    margin-right: 30px;
    padding: 5px;
    height: 40px;
    width: 40px;
    text-align: center;

    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba( 32, 45, 253, .24 ) 0 -4px 23px, rgba( 32, 45, 253, .15 ) 0 4px 18px;

    background-color: #202DFD;
}

.osn-nav-btn-img {
    width: 30px;
    height: 30px;
}

/* Lenta
==================================*/
.lenta {
    margin-bottom: 55px;
    margin-top: 100px;
}

.anket {
    width: 100%;
    max-width: 398px;
    padding: 16px;
    margin-bottom: 16px;

    border-radius: 32px;
    background-color: #FFF8f8;
}

.profil-anket {
    display: flex;
    align-items: center;
}

/* NickName */

.nickname {
    margin-left: 5px;
}

.nickname h1 {
    font-size: 14px;
    font-weight: 700;
}

.nickname p {
    font-size: 14px;
    font-weight: 500;
    margin-top: 4px;
    opacity: .5;
}

.like-btn {
    width: 24px;
    height: 24px;
    margin-left: 137px;
    margin-right: 8px;

    border: none;

    background: url(img/like.png) center no-repeat;
}

.like-btn:active {
    background: url(img/like-active.png);
}

.like-btn.clicked {
    background: url(img/like-active.png);
}

.like-modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    bottom: 102px;
    left: 100px;

    width: 227px;
    height: 50px;
    text-align: center;
    padding: 16px;

    border-radius: 14px;

    background-color: #202DFD;
    transition: all .2s;
}

.like-modal h1 {
    font-size: 14px;
    color: #fff;
}

.like-modal.open {
    visibility: visible;
    opacity: 1;
}

.more {
    width: 24px;
    height: 24px;
    padding: 0;

    border: none;
    background-color: inherit;
}

.more-img {
    width: 100%;
    height: 100%;
}

.more-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    visibility: hidden;
    opacity: 0;

    width: 100%;
    height: 100%;

    background-color: rgba( 0, 0, 0, .7);
    transition: all .2s;
}

.more-modal.open {
    visibility: visible;
    opacity: 1;
}

.more-modal-content {
    width: 100%;
    height: 132px;
    padding: 32px 0 24px 24px;
    position: fixed;
    bottom: -150px;
    left: 0;

    border-radius: 16px 16px 0 0;

    background-color: #fff;
    transition: all .5s;
}

.more-modal.open .more-modal-content {
    bottom: 0;
    left: 0;
}

.block,
.report {
    display: flex;
    align-items: center;
}

.report h1 {
    font-size: 18px;
}

.block h1 {
    font-size: 18px;
}

/* Anket-text */
.text {
    font-size: 16px;
    color: #07080B;
    font-weight: 500px;
    margin: 16px 0;
}

.text p {
    font-weight: 700;
}

/* Intresting */
.intresting h1 {
    font-size: 14px;
    font-weight: 500;
    opacity: .5;
    margin-bottom: 16px;
}

.intrest-pl {
    display: flex;
    align-items: center;
}

.plashka {
    padding: 10px;
    margin-right: 8px;
    font-weight: 700;

    border-radius: 14px;

    background-color: #F9EEF2;
}

/* Anket-form */

.anket-form {
    margin: 16px auto 24px auto;

    position: relative;
}

.anket-input {
    width: 366px;
    height: 60px;
    font-size: 14px;
    color: #808080;
    padding: 20px 18px;
    padding-right: 40px;

    border: none;
    border-radius: 16px;

    background-color: #FFF3F3;
}

.anket-submit {
    position: absolute;
    right: 16px;
    top: 18px;

    width: 24px;
    height: 24px;
    padding: 0;
    border: none;

    background: url(img/submit-activ.png) center no-repeat;
}

input:required:invalid ~ input.anket-submit {
    background: url(img/submit.png) center no-repeat;
}


/* Modal
=========================*/


