@media (max-width: 400px){
    .page {
        padding: 0 16px;
    }

    .like-btn {
        position: absolute;
        right: 18px;
        margin-left: 62px;
        width: 24px;
    }

    .more {
        position: absolute;
        right: 0;
    }

    .anket-form {
        margin-bottom: 8px;
    }

    .anket-input {
        width: 100%;
    }
}